{% extends 'base.html' %}
{% block content %}
    
    <h3>Search results: <u>{{ restaurants|length }}</u></h3>
    <div>
    {% for restaurant in restaurants %}
        <img src ="{{ restaurant.image }}" alt="{{ restaurant.name }}">  
        <ul>
            <li>{{ restaurant.name }}</li>
            <li>{{ restaurant.address }}</li>
            <li>{{ restaurant.phone }}</li>
            <li>Open from: {{ restaurant.opening_time}} to: {{ restaurant.closing_time}}</li>
    {% endfor %}
    </div>
{% endblock %}